/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import "variables.less";
body {
  background-image: url("../imgs/chicago.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}
body nav {
  height: 20px;
  background-color: #ffffff;
  width: 84%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
}
body nav a {
  text-decoration: none;
  color: black;
}
body nav img {
  height: 15px;
  width: 15px;
}
body .main {
  background: #ef1b27;
  margin: 8%;
  color: #ffffff;
  padding: 20px;
}
body .main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
body .main .image-displayer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
body .main .image-displayer .tab-bar {
  display: flex;
  flex-direction: column;
}
body .main .image-displayer .tab-bar .tab {
  font-size: 1.6rem;
  background: blue;
  border-bottom: #ffffff solid 1px;
  padding: 8px 4px;
}
body .main .image-displayer .tab-bar .selected {
  background: #a3d3ec;
}
body .main .image-displayer div {
  width: 400px;
  padding: 10px;
  background: #a3d3ec;
}
body .main .image-displayer div img {
  width: 100%;
}
body .main .image-displayer .displayed {
  background: green;
  display: flex;
}
/*
nav {
  background: @white;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
*/
.row {
  display: flex;
  background: #a3d3ec;
  margin: 20px 0;
}
.row .column {
  display: flex;
  flex-direction: column;
}
.row .column div {
  background: blue;
  margin: 40px;
  border: 6px solid blue;
}
.row .column div img {
  width: 80px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
