
@import"variables.less";

body{
  background-image: url("../imgs/chicago.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  .main{
    background: @flag-red;
    width: 90%;
    max-width: 1200px;
    color: @white;
    padding: 50px;
    margin-bottom: 60px;
    @media @tablet{
     padding: 18px;
   }
    h1{ 
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 1.2rem;
    }
    footer{
      text-align: center;
      font-weight: 200;
    }
  }
}



//david flack's code
/*
nav {
  background: @white;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
*/