.image-displayer{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    .tab-bar{
      display: flex;
      flex-direction: column;
      @media @mobile{
          width: 100%;
        }
      .tab{
        font-size: 1.6rem;
        background: @accent-blue;
        border-bottom: @flag-blue solid 2px;
        padding: 8px 4px;
        @media @tablet{
          font-size: 1.4rem;
        }
      }
      .selected{
          background: @flag-blue;
      }
      .phone-img{
        display: none;
        padding: 10px;
        background: @flag-blue;
        .thin{
        width: 100%;
        }
        p{
          margin: 8px;
        }
      }
      .drop{
        @media @mobile{
          display: block;
        }
      }
    }
    .viz{
      padding: 10px;
      background: @flag-blue;
      display: none;
      max-width:800px;
      @media @mobile{
        display: none;
      }
      .wide{
        width: 400px;
        //height: 400px;
        //height: auto;
        width:100%;
        @media @mobile{
          display: none;
        }
      } 
      p{
        margin: 8px;
      }
    }
    .displayed{
      display: block;
      @media @mobile{
        display: none;
      }
    }  
  }