.row{
    display: flex;
    background: @flag-blue;
    margin: 20px 0;
    .column{
        display: flex;
        flex-direction: column;
        div{
            background: blue;
            margin: 40px;
            border: 6px solid blue;
            img{
                width: 80px;
            }
        } 
    }
}