.column{
    display: flex;
    flex-direction: column;
    background: @flag-blue;
    margin: 20px 0;
    justify-content: space-around;
    @media @tablet{
        flex-direction: row;
    }
    @media @mobile{
        flex-direction: column;
    }
    .row{
        display: flex;
        justify-content: space-around;
        @media @tablet{
            flex-direction: column;
            align-items: center;
        }
        div{
            background: @accent-blue;
            margin: 20px;
            border: 6px solid @accent-blue;
            width: 180px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @media @tablet{
                margin: 16px;
            }
            img{
                width: 100px;
            }
            h3{
                font-size: 1.5rem;
            }
            p{
                font-weight: 200;
            }
            .fa{
                color:@white;
                text-decoration: none;
                font-size: 3rem;
            }
        } 
    }
}