.row{
    display: flex;
    .column{
        display: flex;
        flex-direction: column;
        div{
            margin: 40px;
            img{
                width: 80px;
            }
        } 
    }
}